@font-face {
  font-family: "Louis George Cafe Bold";
  src: url("~assets/fonts/louis_george_cafe_bold-webfont.woff2") format("woff2"),
    url("~assets/fonts/louis_george_cafe_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

.avatar-review {
  @apply w-100 h-100 rounded-full shadow-md;
}

.section {
  @apply pb-100;
}

button {
  outline: none !important;
}

.btn {
  @apply block outline-none rounded-lg text-12 text-grey-lighter font-extrabold text-center uppercase transition no-underline px-30 py-12;
}

.btn:focus {
  @apply shadow-outline;
}

.btn-primary {
  @apply bg-green text-white;
}

.btn-primary:hover {
  @apply bg-green-dark text-white;
}

.btn-secondary {
  @apply bg-pink-dark text-white;
}

.btn-secondary:hover {
  @apply bg-pink-darker text-white;
}

.btn-default,
.btn-default:hover {
  @apply text-grey border border-grey-lightest;
}

.btn-disabled,
.btn-disabled:hover {
  @apply bg-grey-lightest text-white cursor-not-allowed;
}

.btn-green {
  @apply bg-green text-white;
}

.btn-green:hover {
  @apply bg-green-dark text-white;
}

.btn-pink {
  @apply bg-pink text-white;
}

.btn-pink:hover {
  @apply bg-pink-dark text-white;
}

.btn-purple {
  @apply bg-purple text-white;
}

.btn-purple:hover {
  @apply bg-purple-dark text-white;
}

.btn-indigo {
  @apply bg-indigo text-white;
}

.btn-indigo:hover {
  @apply bg-indigo-dark text-white;
}

.btn-blue {
  @apply bg-blue text-white;
}

.btn-blue:hover {
  @apply bg-blue-dark text-white;
}

.btn-brown {
  @apply bg-brown text-white;
}

.btn-brown:hover {
  @apply bg-brown-dark text-white;
}

.btn-grey {
  @apply bg-grey text-white;
}

.btn-grey:hover {
  @apply bg-grey-dark text-white;
}

.btn-slate {
  @apply bg-slate text-white;
}

.btn-slate:hover {
  @apply bg-slate-dark text-white;
}

.select,
.input-base {
  @apply block h-42 text-16 w-full appearance-none bg-green-lightest rounded-lg text-green-darkest leading-tight outline-none px-15 mt-10;
}

.textarea-base {
  @apply block w-full appearance-none bg-green-lightest rounded-lg text-16 text-green-darkest leading-normal outline-none px-15 py-15 mt-10;
}

.input-disabled,
.select-disabled,
.textarea-disabled {
  @apply bg-grey-faint text-grey-lighter cursor-not-allowed;
}

.select:focus {
  @apply shadow-outline;
}

.select-caret {
  @apply absolute h-full pin-y pin-r text-16 text-green-dark mr-20;
}

.input-base:focus {
  @apply outline-none shadow-outline;
}

.label {
  @apply block text-12 font-bold uppercase;
}

.input-error {
  @apply text-12 text-red mt-5;
}

.dropdown-parent {
  @apply relative;
}

.dropdown-child {
  @apply hidden absolute bg-white shadow rounded-lg list-reset text-left pin-t pin-l px-30 py-20 mt-50 z-20;
}

.title-large {
  @apply font-cafe text-30 text-green-darkest font-bold tracking-tight;
}

.title-small {
  @apply text-16 text-green-darkest uppercase font-bold;
}

.footer-link {
  @apply no-underline text-green-darkest text-14;
}

.footer-link:hover {
  @apply underline;
}

.card-form {
  @apply w-full bg-white px-30 py-40 mx-auto;
}

.card-product {
  @apply w-720 flex no-underline text-green-darkest outline-none rounded-lg shadow-md;
}

.card-product:focus {
  @apply shadow-outline;
}

.link-category {
  @apply block no-underline text-16 font-semibold text-green-darkest transition outline-none rounded-lg px-10 py-10;
}

.link-category:hover {
  @apply text-green;
}

.link-category:focus {
  @apply shadow-outline;
}

.link-dropdown {
  @apply block text-12 text-grey font-extrabold uppercase no-underline nowrap text-grey-dark transition py-5 cursor-pointer;
}

.link-dropdown:hover {
  @apply text-green;
}

.link-small {
  @apply text-14 text-grey-lighter no-underline outline-none;
}

.link-small:hover {
  @apply underline;
}

.link-small:focus {
  @apply shadow-outline;
}

.header-title {
  @apply font-cafe text-24 text-white tracking-tight;
}

.header-description {
  @apply text-18 text-white font-semibold mt-10;
}

.product-currency {
  @apply text-14 font-extrabold text-green mr-5 mt-5;
}

.product-price {
  @apply text-24 font-bold text-green-darkest;
}

.badge {
  @apply text-12 font-extrabold uppercase rounded-full px-20 py-10;
}

.badge-success {
  @apply bg-green-lighter text-green-darker;
}

.badge-info {
  @apply bg-blue-lighter text-blue-darker;
}

.badge-danger {
  @apply bg-red-lighter text-red-darker;
}

.badge-warning {
  @apply bg-orange-lighter text-orange-darker;
}

.cc-container {
  @apply relative rounded-lg flex border-4 border-white transition flex-col items-center cursor-pointer p-40;
}

.cc-container:hover > .cc-icon {
  @apply text-grey-light;
}

.cc-container-selected:hover > .cc-icon {
  @apply text-green;
}

.cc-container-selected {
  @apply border-green shadow-lg;
}

.cc-container-selected:hover {
  @apply shadow-lg;
}

.cc-icon {
  @apply text-72 text-grey-lightest transition;
}

.cc-title {
  @apply text-20 font-normal transition mt-20;
}

.cc-icon-checked {
  @apply absolute pin-t pin-l text-30 text-green ml-20 mt-20;
}

.cc-last-four {
  @apply text-12 text-grey-lighter transition mt-5;
}

.cc-icon-selected,
.cc-title-selected,
.cc-last-four-selected {
  @apply text-green;
}

.paragraph-title {
  @apply text-24 leading-normal mt-80;
}

.paragraph-body {
  @apply text-18 leading-loose my-20;
}

@screen md {
  .title-large {
    @apply text-48;
  }

  .card-form {
    @apply w-3/4;
  }

  .header-title {
    @apply text-36;
  }
}

@screen lg {
  .card-form {
    @apply w-2/3;
  }

  .header-title {
    @apply text-48;
  }
}

@screen xxl {
  .card-form {
    @apply w-1/2;
  }
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

@responsive {
  .border-spacing-h-40 {
    border-spacing: 0 4rem;
  }
}

@responsive {
  .order-0 {
    order: 0;
  }

  .order-1 {
    order: 1;
  }

  .order-2 {
    order: 2;
  }

  .order-3 {
    order: 3;
  }

  .order-4 {
    order: 4;
  }

  .order-5 {
    order: 5;
  }
}

.nowrap {
  white-space: nowrap;
}

html {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.toasted {
  font-size: 1.8rem !important;
  font-weight: 400 !important;
}

.toasted.toasted-primary.success {
  background-color: #5fb881 !important;
}

.toasted.toasted-primary.info {
  background-color: #42a5f5 !important;
}

.toasted.toasted-primary.error {
  background-color: #e3342f !important;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

/* Slide transition */
.slide-enter-active,
.slide-leave-active {
  transition: all 0.2s ease-out;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-leave-to {
  opacity: 0;
}

/* Dropzone */

.vue-dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  border: 2px dashed #dcdcdc !important;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #8d8d8d;
  min-height: 22rem !important;
}

.vue-dropzone:hover {
  background-color: #fff !important;
}

.dz-image {
  border-radius: 2rem !important;
}

.dz-details {
  background-color: transparent !important;
}

.dz-message {
  margin: 0 !important;
}

.dz-remove {
  position: absolute !important;
  bottom: 1rem !important;
  left: 0;
  right: 0;
  border: none !important;
  margin-left: 0 !important;
  text-transform: none !important;
  font-size: 1.2rem !important;
  letter-spacing: 0 !important;
}

.transition {
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}
