@font-face {
  font-family: 'Louis George Cafe Bold';
  src: url('~assets/fonts/louis_george_cafe_bold-webfont.woff2') format('woff2'),
       url('~assets/fonts/louis_george_cafe_bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

 .avatar-review {
  @apply w-100 h-100 rounded-full shadow-md;
}

.section {
  @apply pb-100;
}

button {
  outline: none !important;
}

.transition {
  transition: background-color .15s ease-out;
}

.btn {
  @apply block outline-none rounded-lg text-12 text-grey font-extrabold text-center uppercase no-underline px-30 py-12;
}

.btn:hover {
  @apply text-green;
}

.btn:focus {
  @apply shadow-outline;
}

.btn-primary {
  @apply bg-green text-white;
}

.btn-primary:hover {
  @apply bg-green-dark text-white;
}

.btn-secondary {
  @apply bg-pink-dark text-white;
}

.btn-secondary:hover {
  @apply bg-pink-darker text-white;
}

.btn-default {
  @apply text-grey-lighter;
}

.btn-default:hover {
  @apply text-green;
}

.btn-disabled,
.btn-disabled:hover {
  @apply bg-grey-lightest text-white cursor-not-allowed;
}

.select,
.input-base {
  @apply block h-42 text-16 w-full appearance-none bg-green-lightest rounded-lg text-green-darkest leading-tight outline-none px-15 mt-10;
}

.select:hover {
  @apply cursor-pointer;
}

.select:focus {
  @apply shadow-outline;
}

.select-caret {
  @apply absolute h-full pin-y pin-r text-16 text-green-dark mr-20;
}

.input-base:focus {
  @apply outline-none shadow-outline;
}

.label {
  @apply block text-12 font-bold uppercase;
}

.input-error {
  @apply text-12 text-red mt-5;
}

.dropdown-parent {
  @apply relative;
}

.dropdown-parent:hover > .dropdown-child {
  @apply block px-30;
}

.dropdown-child {
  @apply hidden absolute bg-white shadow rounded-lg list-reset text-left pin-t pin-l py-20 mt-35 z-20;
}

.title-large {
  @apply font-cafe text-48 text-green-darkest font-bold tracking-tight;
}

.title-small {
  @apply text-16 text-green-darkest uppercase font-bold;
}

.footer-link {
  @apply no-underline text-green-darkest text-14;
}

.footer-link:hover {
  @apply underline;
}

.card-form {
  @apply w-full bg-white px-30 py-40 mx-auto;
}

.card-product {
  @apply w-720 flex no-underline text-green-darkest outline-none rounded-lg shadow-md;
}

.card-product:focus {
  @apply shadow-outline;
}

.link-category {
 @apply block no-underline text-16 font-semibold text-green-darkest outline-none rounded-lg px-10 py-10;
}

.link-category:hover {
 @apply text-green;
}

.link-category:focus {
 @apply shadow-outline;
}

.link-dropdown {
  @apply block no-underline nowrap text-grey-dark py-5;
}

.link-dropdown:hover {
  @apply text-green;
}

.link-small {
  @apply text-14 text-grey-lighter no-underline outline-none;
}

.link-small:hover {
  @apply underline;
}

.link-small:focus {
  @apply shadow-outline;
}

.header-title {
  @apply font-cafe text-24 text-white tracking-tight;
}

.header-description {
  @apply text-18 text-white font-semibold mt-10;
}

.product-currency {
  @apply text-14 font-extrabold text-green mr-5 mt-5;
}

.product-price {
  @apply text-24 font-bold text-green-darkest;
}

.badge {
  @apply text-12 font-extrabold uppercase rounded-full px-20 py-10;
}

.badge-success {
  @apply bg-green-lighter text-green-darker;
}

.badge-info {
  @apply bg-blue-lighter text-blue-darker;
}

.badge-danger {
  @apply bg-red-lighter text-red-darker;
}

.badge-warning {
  @apply bg-orange-lighter text-orange-darker;
}

@screen md {
  .card-form {
    @apply w-3/4;
  }

  .header-title {
    @apply text-36;
  }
}

@screen lg {
  .card-form {
    @apply w-2/3;
  }

  .header-title {
    @apply text-48;
  }
}

@screen xxl {
  .card-form {
    @apply w-1/2;
  }
}

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

 @responsive {
   .border-spacing-h-40 {
     border-spacing: 0 4rem;
   }
 }

@responsive {
  .order-0 {
    order: 0;
  }
  
  .order-1 {
    order: 1;
  }
  
  .order-2 {
    order: 2;
  }
  
  .order-3 {
    order: 3;
  }
  
  .order-4 {
    order: 4;
  }

  .order-5 {
    order: 5;
  }
}

.nowrap {
  white-space: nowrap;
}

html {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.toasted {
  font-size: 1.8rem !important;
  font-weight: 400 !important;
}

.toasted.toasted-primary.success {
  background-color: #5fb881 !important;
}

.toasted.toasted-primary.info {
  background-color: #42a5f5 !important;
}

.toasted.toasted-primary.error {
  background-color: #e3342f !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

/* Slide transition */
.slide-enter-active,
.slide-leave-active {
  transition: all .3s cubic-bezier(.3,1.42,.81,1.1);
}

.slide-enter {
  opacity: 0;
  transform: translateX(75%);
}

.slide-leave-to {
  opacity: 0;
}