// @font-face {
//   font-family: "Louis George Cafe Bold";
//   src: url("~assets/fonts/louis_george_cafe_bold-webfont.woff2") format("woff2"),
//     url("~assets/fonts/louis_george_cafe_bold-webfont.woff") format("woff");
//   font-weight: bold;
//   font-style: normal;
// }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 10px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
}

button {
  outline: none !important;
}

strong {
  @apply font-bold;
}

.transition {
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}