.toasted {
  @apply tracking-wide;
  font-size: 1.6rem !important;
  font-weight: 700 !important;
}

.toasted.toasted-primary.success {
  @apply px-24 py-12 shadow-2xl;
  background-color: #5fb881 !important;
}

.toasted.toasted-primary.info {
  background-color: #42a5f5 !important;
}

.toasted.toasted-primary.error {
  background-color: #e3342f !important;
}
