*,
*:before,
*:after {
  @apply box-border m-0;
}

html {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 10px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  @apply text-gray-700 box-border antialiased;
}

body {
  overscroll-behavior: none;
}

button {
  outline: none !important;
}

strong {
  @apply font-bold;
}
